html {
  position: relative;
  margin: auto;
}

h1 {
  padding-top: 10%;
}

h2 {
  display: none;
}

body {
  font-family: monospace;
  text-align: center;
  font-size: 160%;
}


input {
  max-width: 100px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
-webkit-box-shadow: 0 0 0px 1000px white inset !important;
 }

#add1, #add2  {
  margin: auto;
}
